[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"

[packages]
pywr = "*"
click = "*"
azure-storage-blob = "*"

[requires]
python_version = "3.8"
